.list-property-owner-container {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  .input-field {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }
  
  .input-field:focus {
    outline: none;
  }
  
  .button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #131313;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: red;
  }
  
  